<a href="https://colab.research.google.com/github/raoram0266/RL-_NCU403/blob/main/Experiment%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
!python --version

Python 3.10.12

In [54]:
def quicksort(arr):
    if len(arr) <=1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle  = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    return quicksort(left) + middle + quicksort(right)

print(quicksort([3,6,8,10,1,2,1]))

[1, 1, 2, 3, 6, 8, 10]

In [55]:
x = 3
print(x, type(x))

3 <class 'int'>

In [56]:
print(x + 1)
print(x - 1)
print(x * 2)
print(x ** 2)

4
2
6
9

In [57]:
x += 1
print(x)
x *= 2
print(x)

4
8

In [58]:
y = 2.5
print(type(y))
print(y,y+1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

In [59]:
z = 9999999
print(type(z))

<class 'int'>

In [60]:
t, f = True, False
print(type(t))

<class 'bool'>

In [61]:
print(t and f)
print(t or f)
print(not t)
print(t != f)

False
True
False
True

In [62]:
Ram = 'Ram'
Yadav = "world"
print(Ram, len(hello))

Ram 5

In [63]:
hw = Ram + ' ' + Yadav
print(hw)

Ram world

In [64]:
hw12 = '{} {} {}'. format(hello, world, 12)
print(hw12)

hello world 12

In [65]:
hw12 = '{} {} {} {}'. format(hello, world, 14, 111)
print(hw12)

hello world 14 111

In [66]:
hw10 = '{} {} {}'. format(hw, Yadav, 12)
print(hw10)

Ram world world 12

In [67]:
s = "golaith"
print(s.capitalize())
print(s.upper())
print(s.rjust(11))
print(s.center(17))
print(s.replace('l', '(ell)'))
print('   national'.strip())

Golaith
GOLAITH
    golaith
     golaith
go(ell)aith
national

In [68]:
xs = [3, 1, 2]
print(xs, xs[2])
print(xs[-2])

[3, 1, 2] 2
1

In [69]:
xs[2] = 'foo'
print(xs)

[3, 1, 'foo']

In [70]:
xs.append('bar')
print(xs)

[3, 1, 'foo', 'bar']

In [71]:
x = xs.pop()
print(x, xs)

bar [3, 1, 'foo']

In [73]:
nums = list(range(5))
print(nums)
print(nums[2:4])
print(nums[2:])
print(nums[:4])
print(nums[:])
print(nums[:-1])
nums[2:4] = [8, 9]
print(nums)

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

In [74]:
animals = ['cat', 'dog', 'monkey']
for d in animals:
    print(d)

cat
dog
monkey

In [75]:
animals = ['cat', 'dog', 'monkey']
for idx, d in enumerate(animals):
    print('#{}: {}'. format(idx + 1, d))

#1: cat
#2: dog
#3: monkey